body {
    font-family: fantasy;
    background-image: url("../assets/great_background.png");
    padding: 0.5rem;
    opacity: 0.8;
}

header {
    box-shadow: 0 0 5px 10px orangered;
    background: orangered;
    opacity: 0.9;
    color: navy;
    margin: 1rem 0 2rem 0;
    padding: 2rem;
    text-align: center;
}

.createBlock {
    font-weight: bold;
}

.createControls {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.createControls button {
    height: 1.5rem;
}

.createControls .contentAndPoster {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.contentAndPoster input {
    margin-top: 0.2rem;
}

.thread {
    background-color: blanchedalmond;
    box-shadow: 0 0 5px 10px palegoldenrod;
    margin: 2rem 0.5rem;
    padding: 0.5rem;
}

.metadata {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0.25rem;
}

.post {
    background-color: paleturquoise;
    box-shadow: 0 0 3px 5px aquamarine;
    margin: 1rem 0.8rem;
    padding: 0.5rem;
}

.hidden {
    display: none;
}

.threadReturn {    
    display: flex;
    justify-content: space-around;
}