body {
    font-family: fantasy;
    background: black;
    color: lawngreen;
}

header {
    display: flex;
    justify-content: space-between;

    padding-top: 0.25rem;
    margin-bottom: 1rem;
    border-bottom: 0.25rem solid lightslategray;
}

.title {
    font-size: 2rem !important;
}

.row {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem;
}

.row-image {
    height: 100px;
    width: 100px;
}

.row-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.linkColor {
    text-decoration: none;
    color: yellow !important;
    transition: color 0.5s ease-in;
}

.linkColor:hover {
    color: coral !important;
    transition: color 0.5s ease-in;
}