body {
    font-family: fantasy;
    color: lawngreen;
    background-image: url("../assets/digital_rain.gif");
}

header {
    padding-top: 1rem;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2rem !important;
}

.row {
    /*display: flex;*/
    text-align: center;

    padding: 0.5rem;
    margin: 0.5rem 0;

    background: black;
    opacity: 1;
}

.row-violet {
    border: 1px solid violet;
}

.row-orange {
    border: 1px solid orange;
}


/*.row-right {*/
/*    border: 1px solid violet;*/
/*}*/

/*.row-left {*/
/*    flex-direction: row-reverse;*/
/*    border: 1px solid orange;*/
/*}*/

/*.row-image {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*}*/

/*.row-text {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*}*/

.linkColor {
    text-decoration: none;
    color: yellow !important;
}

.mainImageContainer {
    display: flex;
    justify-content: center;

    height: 364px;
}

.mainImage {
    margin: 0.5rem 0 2rem 0;
}

@media screen and (max-width: 425px) {
    .mainImageContainer {
        height: unset;
    }

    .mainImage {
        height: 60%;
        width: 80%;
    }
}